.article {
  line-height: 1.8;
  font-size: 1.1rem;
  color: var(--text-muted);
  margin-bottom: 3rem;
}

/* Tratamento para elementos HTML que vierem do banco (caso use Rich Text) */
.article h2, .article h3 {
  color: var(--primary-light);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.article p {
  margin-bottom: 1.5rem;
}