.card {
  background-color: var(--card-bg);
  padding: 2.5rem;
  margin: 0.5rem 0;
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinhado à esquerda como na imagem */
  text-align: left;
  transition: transform 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.05);
  /* box-shadow: var(--shadow-md-light); */
  border: var(--card-border);
  box-shadow: var(--shadow-dark-mode);
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--primary-color);
  box-shadow: var(--primary-glow);
}

.iconWrapper {
  font-size: 2.5rem; /* Se usar ícone em fonte */
  margin-bottom: 1.5rem;
  color: var(--primary-color);
}

.title {
  color: var(--primary-light);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.description {
  color: var(--primary-light);
  line-height: 1.6;
  font-size: 1rem;
}
